/* Resets */

hr {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Main */

html {
  background: #1c3d36;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.espresso-and-coffee-menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.espresso-and-coffee-modifiers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header {
  text-align: center;
  margin-bottom: 24px;
}

h1,
h2,
.h1,
.h2 {
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  letter-spacing: 10px;
  margin-bottom: 48px;
}

h2,
.h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 7px;
}

.coldbrew-menu-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 166px;
}

.divider {
  padding-top: 0;
  padding-bottom: 0;
}

.questions {
  text-align: center;
}

.espress-coffee-modifiers {
  display: flex;
}

.item:not(:last-child) {
  margin-bottom: 36px;
}

.item-with-image {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 36px;
}

.item-image img {
  width: 160px;
  margin-bottom: -18px;
}

.title {
  margin-bottom: 7px;
  letter-spacing: 1.2px;
}

.subtitle {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.modifier-description {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  letter-spacing: 1.2px;
  font-weight: 400;
}

.modifier-details {
  font-weight: 300;
}
