/* Variables */
:root {
  --spacing-unit: 16px;
  --bg: #1c3d36;
  --text-primary: #fff;
  --font-size-base: 22px;
  --font-size-1: 14px;
  --font-size-2: 18px;
  --font-size-3: 20px;
}

/* Resets */
hr {
  margin: 0;
}

h2,
.h2 {
  margin-bottom: 0;
}

/* Common */
h1,
h2,
.h1,
.h2 {
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  letter-spacing: 10px;
  margin-bottom: calc(var(--spacing-unit) * 2.625);
}

h2,
.h2 {
  font-size: var(--font-size-base);
  font-weight: 500;
  letter-spacing: 2px;
}

.subheading {
  letter-spacing: 4px;
}

.title {
  margin-bottom: calc(var(--spacing-unit) * 0.5);
  letter-spacing: 1.2px;
}

.subtitle {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-size: var(--font-size-3);
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

header {
  text-align: center;
  margin-bottom: calc(var(--spacing-unit) * 0.75);
  text-transform: uppercase;
}

/* Main */

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  background: var(--bg);
  color: var(--text-primary);
  font-size: var(--font-size-base);
  font-family: "Nunito", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.espresso-and-coffee-menu-group {
  padding-top: calc(var(--spacing-unit) * 5);
  padding-left: calc(var(--spacing-unit) * 6);
  padding-right: calc(var(--spacing-unit) * 6);
}

.espresso-and-coffee-menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: calc(var(--spacing-unit) * 10);
  padding-top: calc(var(--spacing-unit) * 2.75);
  padding-bottom: calc(var(--spacing-unit) * 2.75);
  padding-right: calc(var(--spacing-unit) * 2);
}

.espresso-and-coffee-modifiers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: calc(var(--spacing-unit) * 2.75);
  padding-bottom: calc(var(--spacing-unit) * 2.75);
  column-gap: calc(var(--spacing-unit) * 4);
}

.questions {
  text-align: center;
}

.coldbrew-menu-group {
  padding: calc(var(--spacing-unit) * 5) calc(var(--spacing-unit) * 6);
}

.coldbrew-menu-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: calc(var(--spacing-unit) * 3.5);
  margin-left: calc(var(--spacing-unit) * 10.375);
}

.espress-coffee-modifiers {
  display: flex;
}

.modifier-group {
  text-transform: uppercase;
  margin-bottom: calc(var(--spacing-unit) * 0.5);
}

.modifier-description {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--font-size-2);
  letter-spacing: 1.2px;
  font-weight: 400;
}

.modifier-details {
  font-weight: 300;
}

.bottom-heading-container {
  padding-bottom: calc(var(--spacing-unit) * 2.75);
}

.bottom-heading {
  margin-top: 0;
  text-align: center;
}

.footnote {
  font-weight: 300;
  font-size: var(--font-size-1);
}

.item:not(:last-child) {
  margin-bottom: calc(var(--spacing-unit) * 2);
}

.item-with-image {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: calc(var(--spacing-unit) * 3.125);
}

.item-with-image:not(:last-child) {
  margin-bottom: calc(var(--spacing-unit) * 3.5);
}

.item-image-container {
  width: 170px;
  margin-right: calc(var(--spacing-unit) * 5.875);
}

.item-image-container img {
  width: 170px;
  margin-bottom: -18px;
}
